:root{
    --button-color: #e7e7e7;
    --button-color-hover: #dddbdb;
    --color-bg: #fff;
    --color-black: #000;
    --color-range-bg: #dddbdb;
    --color-range-main: #bfe677;

    --border-radius: 10px;
    --inp-btn-height: 30px;
    --inp-range-height: 12px;
    --inp-thumb-size: 22px;

    --transition-duration: 0.2s;

    --font-family: 'Montserrat', sans-serif;
    --font-basic: 18px;
    --font-small: 14px;

}


body{
    background-color: var(--color-bg);
    font-family: var(--font-family);
    color: var(--color-black);
    font-size: var(--font-basic);
    line-height: 1.5;
    padding-inline: 30px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
}

button{
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--button-color);
}

a, button, input{
    transition-duration: var(--transition-duration);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none; 
    cursor: pointer;
    outline: none;
    overflow: visible;
    border-radius: 16px;
    background: linear-gradient(to right, #b2e673 50%, #ddd 50%);
}

input[type="range"]::-webkit-slider-runnable-track {
    height: var(--inp-range-height);
    border-radius: 16px;
}

input[type="range"]::-moz-range-track {
    height: var(--inp-range-height);
    background: var(--color-range-bg);
    border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: var(--inp-thumb-size);
    width: var(--inp-thumb-size);
    background-color: var(--color-bg);
    border-radius: 50%;
    margin-top: -5px;
    border: 2px solid var(--color-range-main);
    box-shadow: 0px 0 0 0px var(--color-range-main);
}

input[type="range"]::-moz-range-thumb {
    height: var(--inp-thumb-size);
    width: var(--inp-thumb-size);
    background-color: var(--color-bg);
    border-radius: 50%;
    border: 1px solid var(--color-range-main);
    box-shadow: -407px 0 0 400px var(--color-range-main);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
    gap: 16px;
}

.game-window {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    overflow: hidden;
}

.control-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-control {
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    row-gap: 20px;
    width: 100%;
    /* flex-wrap: wrap; */
}

.main-control__buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.main-control__item {
    justify-content: center;
    align-items: center;
    text-align: center;

    height: var(--inp-btn-height);
    width: 14vw; 

    font: inherit;
    font-weight: 400;
    font-size: 0.9em;
}

.speed-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
    flex: 1;
    width: 50%;
}

#speed {
    margin: 0px;
    width: 100%;
}

.speed-slider-label {
    order: -1;
}

@media (hover: hover) {
    button:hover {
        background-color: var(--button-color-hover);
    }
}

@media (hover: none) {
    button:active {
        background-color: var(--button-color-hover);
    }
}

@media (max-width: 2560px) {
    .main-control__item:not(.speed-control) {
        max-width: 14vw;
        height: 60px;
        font-size: 30px;
    }
    .main-control {
        gap: 20px;
    }
    .speed-control {
        gap: 20px;
        font-size: 30px;
    }

}

@media (max-width: 1440px) {
    .main-control__item:not(.speed-control) {
        width: 16vw;
        height: 40px; 
        font-size: 20px;
    }
    .speed-control {
        gap: 14px;
        font-size: 20px;
    }

}

@media (max-width: 1024px) {
    .main-control__item:not(.speed-control) {
        height: 32px;
        font-size: 18px;
    }
    .main-control {
        gap: 20px
    }
    .speed-control {
        gap: 10px;
        font-size: 18px;
    }

}

@media (max-width: 768px) {
    .main-control__item:not(.speed-control) {
        font-size: 14px;
        width: 14vw;
        height: 28px;
    }

    .speed-control {
        font-size: 14px;
    }
    

}

@media (max-width: 680px) {
    .main-control__item:not(.speed-control) {
        font-size: 11px;
        height: 24px;
        width: 14vw;
    }

    .speed-control {
        font-size: 11px;
    }

    #speed {
        height: 6px;
    }

    .container {
        gap: 10px
    }

    .main-control {
        gap: 6px;
    }
    input[type="range"]::-webkit-slider-thumb {
        height: 10px;
        width: 10px;
        margin-top: 1.5px;
    }
    
    input[type="range"]::-moz-range-thumb {
        height: 10px;
        width: 10px;
        margin-top: 1.5px;
    }
}

@media (max-width: 480px) {
    .main-control__item:not(.speed-control) {
        font-size: 7px;
        height: 18px;
        max-width: 12vw;
    }
    .speed-control {
        font-size: 7px;
    }
    #speed{
        height: 4px;
    }
    .main-control__buttons{
        gap: 8px;
    }
}

@media (max-width: 376px) {
    .main-control__item:not(.speed-control) {
        font-size: 5px;
        height: 14px;
        max-width: 11vw;
    }
    .speed-control {
        font-size: 5px;
    }
    .container {
        gap: 8px
    }
    .main-control {
        gap: 6px;
    }
}

@media (max-width: 320px) {
    .main-control__item:not(.speed-control) {
        height: 12px;
        max-width: 12vw;
    }
    .container {
        gap: 6px
    }
    
}